@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Krub');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root {
    --cor0: #B5B5B5;
    --cor1: #694949;
    --cor2: #E8E8E8;
    --cor3: #ECA5A5;
    --cor4: #000000;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Krub', cursive;
    --font-alternativa: 'Varela+Round', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-destaque);
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    min-height: 60px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--font-alternativa);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295); /*sombra no texto*/
}

nav {
    background-color: var(--cor1);
    text-align: right;
    padding: 8px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.329);
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav, .linkedin > a:hover {
    color: red;
}

.organizador {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px; /*TOP(EM CIMA) RIGHT(DIREITA) BOTTOM(EM BAIXO) LEFT(ESQUERDA)*/
    padding: 20px;
}

.linkedin {
    width: 450px;
    height: 85px;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
    margin-top: 20px;
}

.linkedin > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

.link {
    font-size: 25px;
    background-color: var(--cor1);
    text-align: center;
    padding: 10px 0;
    transition: ease-in-out 0.3s;
}

main {
    background-color: white;
    color: black;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--font-destaque);

    /*Configuração de responsividade*/
    min-width: 320px;
    max-width: 1000px;
    margin: auto;

    margin-bottom: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.315);
}

main h1 {
    color: black;
    font-family: var(--font-destaque);

}

main p {
    margin: 15px 0px;
}

.texto, .meu-nome { /*distância da borda lateral esquerda*/
    padding-left: 10px;
}

.apresentacao {
    transform: translate(0, 45%);
}

.texto {
    font-size: 20px;
}

img {
    max-width: 35%;
    border-radius: 50%;

    left: 65%;
    transform: translate(-15%, -60%);
}

/*
main img{
    width: 100%;
    margin: auto;
    border-radius: 50%;
    display: flex;

    /*config posição img*/
    /*position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-35%, -20%);
}

main img.pequena {
    max-width: 350px;
}
*/

@keyframes desenhoAnimacao {
    from {
        top:-25px;
    }
    to {
        top: 40px;
    }
}

.pequena {
    position: relative;
    animation: desenhoAnimacao 2.1s infinite alternate-reverse linear;
}

#maq-escrever {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 7s infinite;
    /*
    animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
    */
}

/*
estilo máquina de escrever somente com CSS
#maq-escrever::after{
    content:'|';
    margin-left: 5px;
    opacity: 1;
}

@keyframes typewriter {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
@keyframes blink {
    from {
        border-color: black;
    }
    to {
        border-color: transparent;
    }
}
*/

.meu-nome {
    font-size: 35px;
    font-family: var(--font-destaque);
}

.meu-nome::after{
    content:'|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*
aside {
    background-color: #ECA5A5;
    color: white;
    padding: 10px;
    border-radius: 10px;

    width: 150px;
    text-align: center;
    font-weight: bold;
    transition: ease-in-out 0.3s;
}
*/

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.425);
}
